/* src/components/Footer.css */
.footer {
    background-color: var(--green-600);
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .footer a {
    color: var(--purple-200);
    margin: 0 5px;
  }